.poly-regular{
    font-family: "Poly", serif;
    font-weight: 400;
    font-style: normal;
  }

.kaisei-harunoumi-regular {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}