html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header, main, footer{
    width: 100vw;
}