@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #ffffff;
  --hover-button-color: #d6e6f3;
  --button-color: #96c4de;
  --sublime-color: #96c4de;
}

body
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d6e6f3;
}

.container{
    width: 75%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 30px;
    align-items: center;
    margin-top: 70px;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img{
    width: 80%;
    min-width: 280px;
}

.form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-color);
    padding: 3rem;
    border-radius: 30px;
}

.tittle{
    font-size: 75%;
}

.form-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.returnbutton{
    display: flex;
    align-items: center;
}

.returnbutton button{
    border: none;
    background-color: var(--button-color);
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.returnbutton button:hover{
    background-color: var(--hover-button-color);
}

.returnbutton button a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--sublime-color);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
    font-size: 20px;
}

.input-box lable{
    font-size: 70%;
}

.input-box input{
    margin: 0.6rem 0 2rem 0;
    padding: 0.6rem 1.1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid var(--sublime-color);
}

.input-box label,
.gender-title h6{    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.requisito {
    color: #FF0000;
    list-style-type: none;
    font-size: 75%;
    width: 45%; /* Cada requisito ocupa 45% da largura */
    margin-bottom: 5px;
    position: relative;
}

.requisito.cumprido{
    color: #008000;
}

.requisito.cumprido::before {
    content: "✓"; /* Ícone de check */
    color: #008000;
    font-weight: bold;
    position: absolute;
    left: -20px;
}

.mensagem-erro {
    color: black; /* Cor da mensagem de erro */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 10px; /* Espaçamento acima da mensagem */
}


.cadastro-button input{
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: var(--button-color);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button input:hover
{
    outline: 1px solid;
    background-color: var(--hover-button-color);
}

.cadastro-button input a
{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--text-color);
}

select 
{
    font-family: 'Inter', sans-serif;
    width: 13rem;
    margin: 0.6rem 0;
    padding: 0.6rem 1.1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

 @media screen and (max-width:1390px) {
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin:0;
    }

    .form-image{
        margin:0px;
        width: 10%;
        height: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        flex-direction: row;
    }

    .form-image img{
        min-width: 5px;
        align-items: center;
        margin: 5%;
    }

    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        height: 900px;
        flex-wrap: wrap;
    }

    .cadastro-button input {
        margin-top: 0;
    }

    .input-box input {
        margin: 0;
    }

    .input-box lable {
        font-size: 70%;
    }

    .tittle{
        font-size: 70%;
        margin-right: 20%;
    }
}

@media screen and (max-width:700px) {
    .input-group {
        flex-direction:column;
    }
}